---
---

@import "{{ site.theme }}";
header {
    ul {
        list-style: none;
        height: initial;
        padding: initial;
        background: initial;
        border-radius: initial;
        border: initial;
        width: initial;

        a {
            display: initial;
            text-align: initial;
            padding-top: initial;
            height: initial;

            a:hover, &:focus {
                color: initial;
                font-weight: initial
            }

            &:active {
                background-color: initial;
                color: black;
            }
        }
    }

    li, li+li+li {
        width: 100%;
        float: initial;
        border-right: initial;
        height: initial;

        &:first-child a {
            border-radius: initial;
        }

        &:last-child a {
            border-radius: initial;
        }

        ul li ul li a {
            padding-left: 10px;
        }
    }
}
