---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,700,700i|Source+Serif+Pro:600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: initial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

section p {
    text-align: justify;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
}

header {
    ul {
        list-style: none;
        height: initial;
        padding: initial;
        background: initial;
        border-radius: initial;
        border: initial;
        width: initial;

        li, li + li + li {
            width: 100%;
            float: initial;
            border-right: initial;
            height: initial;

            a {
                display: initial;
                font-size: initial;
                text-align: initial;
                padding-top: initial;
                height: initial;

                &:hover, &:focus {
                    color: #069;
                    font-weight: normal;
                }

                &:active {
                    background-color: initial;
                    color: black;
                }
            }

            &:first-child a {
                border-radius: initial;
            }

            &:last-child a {
                border-radius: initial;
            }

            ul li ul li a {
                padding-left: 10px;
            }
        }
    }

    .claim {
        text-align: center;
        margin: 25px 0;
    }
}

a:hover {
    font-weight: initial;
    text-decoration: underline;
}

small {
    font-size: smaller;
}
