<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ site.title | default: site.github.repository_name }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title | default: site.github.repository_name }}">
    <meta name="theme-color" content="#81C9A3">

    <link rel="icon" type="image/svg+xml" href="assets/img/voiio-icon.svg" sizes="any">
    <link rel="icon" type="image/png" href="assets/img/voiio-icon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/voiio-icon-32.png" sizes="32x32">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        {% if site.logo %}
        <a href="{{ '/' | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo"/></a>
        {% else %}
        <h1><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% endif %}

        <p class="claim">{{ site.description | default: site.github.project_tagline }}</p>

        {% include toc.html html=content %}
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>
            <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
        </p>
        <p>
          <small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></small>
        </p>
    </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.1.3/mermaid.min.js" defer></script>
<script>
const config = {
  startOnLoad:true,
  theme: 'base',
  flowchart: {
    useMaxWidth:false,
    htmlLabels:true
  }
}
document.addEventListener('DOMContentLoaded', function() {
  mermaid.initialize(config);
  mermaid.init(undefined, '.language-mermaid');
});
</script>
</body>
</html>
